<nav class="nav">
  <img src="/assets/svg/harmony_ren_full_logo.svg" alt="HARMONY REN LOGO">
  <button class="mobile-only">☰</button>

  <ul id="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/transparency">Transparency</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/get-involved">Get Involved</a></li>
  </ul>
</nav>
<script src="/js/nav-menu-toggle.js"></script>
